.hero-section {
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  align-items: center;
  color: rgb(238, 21, 21);
  text-shadow: 2px 2px 4px #000;
  text-align: center;
}
